@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;
@use "../../styles/partials/typography";

.border-top {
  width: 24.375rem;
  height: 3rem;
  background-color: #00ccbc;
}

.title {
  height: 4rem;
  width: 24.375rem;
  border-bottom: 1px solid lightgrey; //review this border color
}

.ios-keyboard {
  width: 24.375rem;
}

.save {
  display: flex;
  justify-content: center;
  width: 24.375rem;
  height: 4rem;

  &_button {
    width: 95%;
    background-color: #00ccbc;
    color: white;
    border-radius: 5px;
    height: 3rem;
  }
}
