@font-face {
  font-family: primary-font;
  src: url(../../assets/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: primary-font;
  src: url(../../assets/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: primary-font;
  src: url(../../assets/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf);
  font-weight: 600;
}
